<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mv-valencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-servicios.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icono-mv.JPG') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script-servicios.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>
            <img src="{{ url_for('static', filename='images/icono-mv.JPG') }}" alt="Icono Hospital" class="icono-mv">
            {{ nombre_de_ese }} 
        </h1>
        
        {% if folders %}
            <div class="folder-grid">
                {% for folder in folders %}
                <div class="folder-card" data-folder-id="{{ folder.id }}" onclick="window.location.href='/carpeta/{{ folder.id }}'">
                    {% if folder.id in ['1syTnARFTLOE-ho9QdbJHeRDisL_qS1Dk', '1SWs0PIJbmV7H1brkOAFU4DX_632F9ZsC', '1kgXkmaYUe4CBrR4WC30eJDwNKeqShqiB'] %}
                    <img src="{{ url_for('static', filename='images/folder-open.svg') }}" class="folder-icon" alt="Carpeta abierta">
                {% else %}
                    <img src="{{ url_for('static', filename='images/folder-icon.svg') }}" class="folder-icon" alt="Carpeta cerrada">
                {% endif %}
                <div class="folder-name">{{ folder.name }}</div>
                </div>
                {% endfor %}
            </div>
            {% else %}

            <p>No hay carpetas en tu Google Drive.</p>
        {% endif %}
    </div>

    <!-- Botón flotante -->
    <button class="btn-add-inside" onclick="toggleMenu()">+</button>

    <!-- Menú desplegable -->
    <div id="menuOpciones" class="menu-opciones">
        <a href="{{ url_for('formato_mantenimiento') }}" class="menu-opcion" target="_blank" rel="noopener noreferrer">Formato mantenimiento</a>

        <a href="{{ url_for('filtro') }}" class="menu-opcion" target="_blank" rel="noopener noreferrer">Buscar Equipos</a>

        <a href="/logout" class="menu-opcion">Cerrar Sesión</a>
    </div>
</body>
</html>

